0e0d0d
@import url(/home/escola/malu /cd620d72fe2890414eb40d651412a790.jpg);

.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #0e0d0d;
    color: white;
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;


}

.cabecalho-lista-item{
    font-size: 17px;
    margin-left: 50px;


}


